.itemFeito{
    text-decoration: line-through;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.itemNormal{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.listaItens{
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}